*{
  box-sizing: border-box;
}

.home {
  box-sizing: border-box;

  display: flex;
  width: 100%;
  height: 98vh;
  background-image: linear-gradient(to bottom right,white, #c9c9d2);

  .sideBar {
    width: 18%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #eeeef4;
    border-right: 1px solid lightgrey;

    .backImg {
      width: 100%;
      height: 35%;
      display: flex;
      flex-direction: column-reverse;
      position: relative;

      .userInfo {
        position: absolute;
        display: flex;
        flex-direction: row;
        padding: 10px;

        img {
          width: 50px;
          height: 50px;
          border-radius: 20px;
          margin-right: 10px;
        }

        div{
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        div p {
          font-size: 8px;
          color: white;
        }
      }
    }

    .notifications{
      width: 100%;
      padding: 5px;

      .icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid grey;
        padding: 10px 0px;

        .bell {
          font-size: 15px;
          color: #238CFF;
          height: 30px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 5px ;
          background-color: white;
          margin-right: 10px;
        }
  
        p{
          width: 100%;
          font-size: 15px;
          // padding: 5px;
          cursor: pointer;
          color: black;
        }

        .clearNotification{
          color: red;
          width: fit-content;
          padding-right: 5px;
        }

        .clearNotification:hover {
          transform: scale(1.2);
        }
      }

      .nottyContainer{
        height: 250px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;

        .emptyNotification {
          width: 100%;
          text-align: center;
          font-size: 12px;
          padding: 5px 0px;
          color: grey;
        }
      }

      .notty {
        width: 100%;
        display: flex;
        font-size: 15px;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        padding: 10px 0px;


        img {
          height: 25px;
          width: 25px;
          margin-right: 5px;
        }
      }

      .logout{
        color: grey;
        cursor: pointer;

        h4:hover{
          color: #238CFF;
        }
      }

      

      
    }
  }

  .chatSection {
    width: 25%;
    padding: 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
